
<div class="footer bg-dark" style="height: 20dvh">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex ms-3 mt-2">
                    <i class="bi bi-geo-alt-fill" style="color:yellow"></i>
                    <h5 class="text-white ms-2">Find Us</h5>
                </div>
                <span class="text-white">New Delhi, 110051</span>
            </div>

            <div class="col-md-4">

                <div class="d-flex ms-3 mt-2">
                    <i class="bi bi-telephone-fill" style="color: yellow"></i>
                    <h5 class="text-white ms-2">Call Us</h5>
                </div>
                <span class="text-white">5678934578</span>
            </div>

            <div class="col-md-4">

                <div class="d-flex ms-3 mt-2">
                    <i class="bi bi-envelope-at-fill" style="color: yellow"></i>
                    <h5 class="text-white ms-2">Email Us</h5>
                </div>
                <span class="text-white">PizzaHub@gmail.com</span>
            </div>
        </div>
    </div>

    <div>
        <p class="text-white text-center" style="background:  #202020; margin-top: 100px">PizzaHub &copy; 2024, All Right Reserved</p>
    </div>


</div>
