<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-dark"> <img src="~/Images/Pizza/PizzaH2.jpg" atl="no image" style="height: 5vh; border-radius: 4px; margin-right: 8px" />PizzaHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <div>
                <a asp-area="Auth" asp-action="Index" asp-controller="Authentication" style="text-decoration: none; margin-right: 20px"><button class="btn btn-primary mb-2 pt-1 pb-1">Login</button></a>
                <a style="font-size: xx-large" asp-action="DisplayCartItems" asp-controller="Cart"><i class="bi bi-cart-dash-fill"></i></a>
                <a style="font-size: xx-large; margin-left: 20px"><i class="bi bi-gear-fill"></i></a>
            </div>
        </div>
    </nav>
</header>
