@model PizzaHub.Models.LoginFormModel

<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="text-center">Login</h3>
            <form asp-action="VerifyUser" asp-controller="Authentication" asp-area="Auth" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Username">Username</label>
                    <input class="form-control" asp-for="Username" type="text" placeholder="Enter your name" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Password">Password</label>
                    <input class="form-control" asp-for="Password" type="text" placeholder="Enter your password" />
                </div>

                <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>
                <b>Don't have account?</b>
                <a class="float-end text-decoration-none" asp-action="SignUpForm" asp-controller="Authentication" asp-area="Auth">Sign Up</a>
            </form>
        </div>
    </div>
</div>

<partial name="_Notification" />
