@* @model StudentForm.Models.StudentModel


<html>
    <head>

    </head>
    <body>
    <form asp-action="EditStudent" method="post">
        <label asp-for="Name">Name</label>
        <input @disabled asp-for="Name" type="text" class="form-control" />
      </form>
    </body>
</html> *@